@media only screen and (min-width: 64em) {
    :root{
        --color-green: #7ddf64;
        --color-blue: #355070;
        --color-salmon: #deb986;
        --color-red: #ef2917;
        --text-: 'Titillium Web', sans-serif; 
        --titles-: 'Bungee Inline', cursive;
    }
    html{
        background-color: var(--color-green);
    }
    body{
        margin: 0 auto;
        width: 80%;
        background-color: white
    }

    ul#primaryNav{
        position: sticky;
    }
    .banner{
        width: 100%;
        height: 40rem;
    }

    .gridbox{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .gridbox p{
        padding: 3rem;
    }

    .gridbox div{
        padding: 2rem;
    }

    div.callaction {
        padding-left: 0;
    }


    .submitBtn:hover{
        background-color: var(--color-green);
        color: var(--color-blue)

    }

    .callaction{
        width: 80%;
        margin: 0 auto;
        
    }
    
    .callaction button:hover{
        background-color: var(--color-green);
        color: var(--color-blue);
    }

    .forecas-days{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        
    }
    .forecas-days img{
        margin-right: 4rem;
    }
    
    .forecasting{
        width: 100%;
    }

    .forecasting h3{
        font-size: 1rem;
        
    }
    
    div.forecas-days{
        font-size: 1rem;
    }
    
    .forecas-days img{
        width: 80px;
    }
    
    
    .weather h3{
        font-family: var(--text-);
        font-size: 1rem;
        text-align: center;
    }
    
    .weather p{
        font-size: 1rem;
        margin-left: 2rem;
    }

    .wsection{ border: 1px solid var(--color-blue);
        box-shadow: 10px 10px rgba(0,0,0,.5);
    }

    .frame2{
        margin-top: -9rem;
    }
}