@media only screen and (min-width: 35rem) { 
    :root{
        --color-green: #7ddf64;
        --color-blue: #355070;
        --color-salmon: #deb986;
        --color-red: #ef2917;
        --text-: 'Titillium Web', sans-serif; 
        --titles-: 'Bungee Inline', cursive;
    }
       
      nav ul#primaryNav {
        display: flex;
      }
    
      nav ul li a {
        border: none;
      }

      .nav-bar ul li a{
        font-size: 2.5rem;
        margin: 2rem 0;
      }
      nav ul li a:hover {
        font-size: 2rem;
    }

    nav ul li a.active { 
        color:var(--color-green);
        transition: .6s;
    }
    
      #hamburgerBtn{
        display: none;
    }

    .logohead img{
        width: 200px;
        height: 200px;
    }


    .gridbox h2 {
        font-size: 2.5rem;
        
    }
    
    .gridbox p{
        font-size: 1.5rem;
        padding: 2rem;
    }
    .gridbox img{
        padding: 1rem;
        margin-bottom: 1.5rem;
    }


    .social img{
        width: 3rem;
        height: 3rem;
        margin-bottom: 1rem;
    }
    
    .logofooter img{
        width: 200px;
        height: 200px;
    }


    .callaction h2{
        font-size: 2.5rem;
        
    }
    .callaction p{
        font-size: 2rem;
    }
    
    .callaction button{
        font-size: 1.5rem;
       
    }


    /* Form Page */ 

input.fruits{
    width: 2rem;
    height: 2rem;
}

fieldset{
    border: none;
}
.top input{
    font-size: 2rem;
}

fieldset legend{
    font-size: 2rem;
    font-family: var(--text-);
}

fieldset label{
    font-size: 2.5rem;
    font-family: var(--text-);
}

#scroll{
    border:none;
    height:300px;
    width:100%;
    overflow-y:scroll;
    overflow-x:hidden;
}
form h2{
    font-size: 3rem;
}


.forecasting h3{
    font-size: 2.5rem;
    
}

div.forecas-days{
    font-size: 2rem;
}

.forecas-days img{
    width: 150px;
}



.weather h3{
    font-family: var(--text-);
    font-size: 2.5rem;
    text-align: center;
}

.weather p{
    font-size: 2rem;
}
}
